version: '3'
services:
  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:stable
    volumes:
      - ./config:/config
      - ./custom_components:/config/custom_components
      - ./tests:/config/tests
    ports:
      - "8123:8123"
    environment:
      - TZ=Asia/Kolkata
    restart: unless-stopped
